{% load svg %}

<li class="border-t border-gray-200">
    <a href="{% url 'entry-detail' obj.pk %}"
       class="block hover:bg-gray-50 focus:outline-none focus:bg-gray-50 transition duration-150 ease-in-out">
        <div class="px-4 py-4 sm:px-6">
            <div class="flex items-center justify-between">
                <div class="text-base leading-loose font-medium text-blue-400 truncate">
                    {{ obj.title }}
                </div>
                <div class="text-gray-500">
                    #{{ obj.entry_id }}
                </div>
            </div>
            <div class="mt-2 sm:flex sm:justify-between">
                <div class="sm:flex">
                    <div class="mr-6 flex items-center text-sm leading-5 text-gray-500">
                        {% svg 'branch' class="flex-shrink-0 mr-1.5 h-5 w-5 text-blue-400" %}
                        {{ obj.data.Subcategory }}
                    </div>
                    <div class="mt-2 flex items-center text-sm leading-5 text-gray-500 sm:mt-0">
                        {% svg 'atlas' class="flex-shrink-0 mr-1.5 h-5 w-5 text-blue-400" %}
                        {{ obj.data.Country }}
                    </div>
                </div>
                {% if not hide_status and user.is_staff %}
                    <div class="mt-2 flex items-center text-sm leading-5 text-gray-500 sm:mt-0">
                        {% if obj.dones.count >= 2 %}
                            {% svg 'check' class="flex-shrink-0 mr-1.5 h-5 w-5 text-green-400 ml-4" %}
                            {{ obj.dones.count }} Reviews
                        {% elif obj.dones.count > 1 %}
                            {% svg 'check' class="flex-shrink-0 mr-1.5 h-5 w-5 text-green-200 ml-4" %}
                            {{ obj.dones.count }} Review{{ obj.dones.count|pluralize }}
                        {% endif %}

                        {% if obj.conflicts.count > 0 %}
                            {% svg 'exclamation' class="flex-shrink-0 mr-1.5 h-5 w-5 text-red-400 ml-4" %}
                            {{ obj.conflicts.count }} Skipped
                        {% endif %}

                        {% if obj.drafts.count > 0 %}
                            {% svg 'empty' class="flex-shrink-0 mr-1.5 h-5 w-5 text-green-200 ml-4" %}
                            {{ obj.drafts.count }} Need review
                        {% endif %}

                    </div>
                {% else %}
                    {% if review.status == 'draft' or review.status == 'empty' %}
                        <div class="mt-2 flex items-center text-sm leading-5 text-gray-500 sm:mt-0">
                            {% svg 'empty' class="flex-shrink-0 mr-1.5 h-5 w-5 text-yellow-400" %}
                            Needs review
                        </div>
                    {% elif review.status == 'done' %}
                        <div class="mt-2 flex items-center text-sm leading-5 text-gray-500 sm:mt-0">
                            {% svg 'check' class="flex-shrink-0 mr-1.5 h-5 w-5 text-green-400" %}
                            Reviewed
                        </div>
                    {% elif review.status == 'conflict' %}
                        <div class="mt-2 flex items-center text-sm leading-5 text-gray-500 sm:mt-0">
                            {% svg 'times' class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" %}
                            Skipped
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </a>
</li>
