{% load svg %}

<li class="border-t border-gray-200">
    <a href="{% url 'entry-detail' obj.pk %}"
       class="block hover:bg-gray-50 focus:outline-none focus:bg-gray-50 transition duration-150 ease-in-out">
        <div class="px-4 py-4 sm:px-6">
            <div class="flex items-center justify-between">
                <div class="text-base leading-loose font-medium text-blue-400 truncate">
                    {{ obj.title }}
                </div>
            </div>
            <div class="mt-2 sm:flex sm:justify-between">
                <div class="sm:flex">
                    <div class="mr-6 flex items-center text-sm leading-5 text-gray-500">
                        {% svg 'branch' class="flex-shrink-0 mr-1.5 h-5 w-5 text-blue-400" %}
                        {{ obj.data.Subcategory }}
                    </div>
                    <div class="mt-2 flex items-center text-sm leading-5 text-gray-500 sm:mt-0">
                        {% svg 'atlas' class="flex-shrink-0 mr-1.5 h-5 w-5 text-blue-400" %}
                        {{ obj.data.Country }}
                    </div>
                </div>
                {% if staff %}
                    <div class="mt-2 flex items-center text-sm leading-5 text-gray-500 sm:mt-0">
                        {% svg 'check' class="flex-shrink-0 mr-1.5 h-5 w-5 text-green-400" %}
                        2 Reviews
                    </div>
                {% else %}
                    {% if review.status == 'draft' %}
                        <div class="mt-2 flex items-center text-sm leading-5 text-gray-500 sm:mt-0">
                            {% svg 'empty' class="flex-shrink-0 mr-1.5 h-5 w-5 text-yellow-400" %}
                            Needs review
                        </div>
                    {% elif review.status == 'done' %}
                        <div class="mt-2 flex items-center text-sm leading-5 text-gray-500 sm:mt-0">
                        {% svg 'check' class="flex-shrink-0 mr-1.5 h-5 w-5 text-green-400" %}
                        Reviewed
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </a>
</li>
