{% extends "base.html" %}{% load custom_web %}

{% block contents %}
    <div class="bg-white shadow overflow-hidden  sm:rounded-lg">
        <div class="px-4 py-5 border-b border-gray-200 sm:px-6">
            <h3 class="text-lg leading-6 font-medium text-gray-900 flex justify-between">
                <span>{{ object.title }}</span>
                <span>#{{ object.entry_id }}</span>
            </h3>
            <p class="mt-1 max-w-2xl text-sm leading-5 text-gray-500">
                {{ object.category }} - {{ object.subcategory }}
            </p>
        </div>
        {% for group in groups %}
            <div class="px-4 py-5 border-gray-200 sm:px-6">
                <h3 class="text-md leading-6 font-medium text-gray-900">
                    {{ group.name }}
                </h3>
            </div>
            <div class="px-4 py-5 sm:p-0">
                {% for key, value in group.fields.items %}
                    {% if value %}
                        <dl>
                            <div class="mt-8 sm:mt-0 sm:grid sm:grid-cols-3 sm:gap-4 sm:border-t sm:border-gray-200 sm:px-6 sm:py-5">
                                <dt class="text-sm leading-5 font-medium text-gray-500">
                                    {{ key }}
                                </dt>
                                <dd class="mt-1 text-sm leading-5 text-gray-900 sm:mt-0 sm:col-span-2 urlize">
                                    {{ value|urlize }}
                                </dd>
                            </div>
                        </dl>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    {% if form %}
        {% include "_includes/rating-form.html" with form=form %}
    {% endif %}
{% endblock %}