{% extends "base.html" %}

{% block contents %}
    <div class="flex justify-center items-center flex-col">
        <div class="w-full md:w-1/2 mb-10">
            <form action="" method="POST">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="button primary mt-10" value="Login"/>
                <input type="hidden" name="next" value="{{ next }}"/>
            </form>
        </div>

        <div class="w-full md:w-1/2">
            <p class="mb-4">Enter your email and we'll e-mail you login information.</p>
            <p class="bg-red">Please contact <a class="text-indigo-700 underline" href="mailto:marcela@oeglobal.org">Marcela Morales</a> if you have any
                problems
                or questions
                regarding your account.</p>
        </div>

    </div>

{% endblock %}